.section-title {
  /* По БЭМ для позиционирования этого блока по идее надо подмиксовать
   digits__title с заданным  margin-bottom. Но так как нам категорически
   запрещено добавлять классы, здесь мы нарушим БЭМ и добавим позиционирование
   в стиль блока */
  margin: 0 0 20px;
  width: 60%;
  font-size: 60px;
  font-weight: bold;
  line-height: 1.15;
  text-align: center;
}
